[paths]
source =
   src/flatten_list
   */site-packages/flatten_list

[run]
branch = true
source =
    flatten_list
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
